# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# macOS Build Files
macos/Flutter/ephemeral/
macos/build/

# Android
android/.gradle/
android/app/debug.keystore
android/app/build/
android/.idea/

# iOS
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.generated/
ios/Runner.xcworkspace/
ios/build/

# Web
web/.dart_tool/
web/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# VSCode
.vscode/
*.code-workspace

# JetBrains (IntelliJ, Android Studio)
.idea/
*.iml

# System Files
.DS_Store
Thumbs.db